<div id="<%= dom_id payment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Order:</strong>
    <%= payment.order_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Qrcode:</strong>
    <%= payment.qrcode %>
  </div>
</div>
